.search {
    width: 40rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    transform: translateY(2px);
    font-size: 1.4rem;
    position: relative;
}

.search input {
    padding: 3px 5px;
    width: 100%;
}

.search button {
    border-bottom: none;
    text-decoration: underline;
}

.search button:hover {
    text-decoration: none;
}

.search-switch {
    position: absolute;
    top: 120%;
    left: 0;
    display: flex;
    column-gap: 2rem;
}

.search-switch label {
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

/* ================================================================================================ */
/* ================================================================================================ */
/* ================================================================================================ */

@media (max-width: 650px) {
    .header form,
    .search {
        width: 100%;
    }
}
