table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

table thead {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 3;
}

table thead tr,
table tbody tr {
    width: 100%;
}

table thead tr th {
    background-color: var(--accent);
    color: var(--bg);
    border-color: var(--bg);
    border-width: 2px;
    width: auto;
}

table tbody tr td {
    border: 2px solid var(--accent);
    padding: 1rem;
}

/* ================================================================================================ */
/* table head cells */
table thead tr th:nth-child(1) {
    border-left-color: var(--accent);
    width: 50px;
}

table thead tr th:nth-child(2) {
    width: 15%;
}

table thead tr th:nth-child(3) {
    width: 25%;
}

table thead tr th:nth-child(4) {
    width: 150px;
}

table thead tr th:nth-child(5) {
    width: 98px;
}

table thead tr th:nth-child(6) {
    width: 107px;
}

table thead tr th:nth-child(7) {
    width: 127px;
}

table thead tr th:nth-child(8) {
    width: 60px;
}

table thead tr th:nth-child(9) {
    width: 120px;
}

table thead tr th:nth-child(10) {
    width: 95px;
    border-right-color: var(--accent);
}
/* ================================================================================================ */

table th {
    border: 1px solid var(--accent);
    padding: 1rem;
}

table tr:hover {
    background-color: #222;
}

.table-wrapper {
    width: 100%;
}

/* ================================================================================================ */

/* STATUS AND RATING BTNS */

.radio-choice {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
    border: 1px solid var(--accent);
    text-align: center;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
input[type='radio']:hover ~ label.radio-choice {
    background-color: var(--accent);
    color: #000;
}
input[type='radio']:active ~ label.radio-choice {
    background-color: var(--accent);
    color: #000;
    opacity: 0.7;
}

input[type='radio']:checked ~ label.radio-choice {
    background-color: var(--accent);
    color: #000;
}

.radio-wrapper {
    position: relative;
}

.radio-wrapper input[type='radio'] {
    position: absolute;
    top: -8px;
    left: 0;
    opacity: 0;
    width: 30px;
    height: 30px;
}

/* ================================================================================================ */

/* THUMBNAIL AND DESCRIPTION */

.thumbnail {
    position: absolute;
    z-index: 6;
    top: 12px;
    left: 12px;
    border: 2px solid var(--accent);
    width: 400px;
    background-color: #000;
    min-height: 300px;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnail__close,
.description__close {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: var(--accent);
    color: #000;
    padding: 5px;
}
.thumbnail__close:hover,
.description__close:hover {
    opacity: 0.7;
}

.description {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 900px;
    z-index: 5;
    border: 2px solid var(--accent);
    background-color: #000;
    padding: 4rem;
    line-height: 1.5;
    text-align: left;
    white-space: pre-line;
}

/* ================================================================================================ */
/* ================================================================================================ */
/* ================================================================================================ */

@media (max-width: 1300px) {
    .table-wrapper {
        min-width: 1235px;
    }
}
