.video-item__channel {
    font-size: 1.4rem;
}

.video-item__title {
    font-size: 1.4rem;
}

.video-item__channel button {
    text-align: left;
    text-decoration: underline;
    border-bottom: none;
}

.video-item__channel button:hover {
    text-decoration: none;
}

.video-item__channel button:active {
    opacity: 0.5;
}

.video-item__released {
    font-size: 1.4rem;
    text-align: center;
    white-space: nowrap;
}

.video-item__duration {
    font-size: 1.4rem;
    text-align: center;
    white-space: nowrap;
}

.video-item__thumbnail {
    text-align: center;
    position: relative;
}

.video-item__description {
    text-align: center;
    position: relative;
}

.video-item__watch {
    text-align: center;
}

.video-item__status {
}

.video-item__rating {
    text-align: center;
    white-space: nowrap;
}

td.video-item__status {
    padding: 0 1rem;
    text-align: center;
    white-space: nowrap;
}
