.header {
    margin-bottom: 2rem;
}

.header__inner {
    padding: 1.5rem 0;
    display: flex;
    align-items: end;
    column-gap: 4rem;
}

.header__column {
}

.header__logo {
    font-size: 24px;
    font-weight: bold;
}

.header__about {
    opacity: 0.4;
}

.header__about:hover {
    opacity: 1;
}
