.video-item {
}

.video-item__index {
}

.video-item__channel {
    font-size: 1.4rem;
}

.video-item__title {
    font-size: 1.4rem;
}

.video-item__released {
    font-size: 1.4rem;
    text-align: center;
}

.video-item__duration {
    font-size: 1.4rem;
    text-align: center;
}

.video-item__thumbnail {
    text-align: center;
    position: relative;
}

.video-item__description {
    text-align: center;
    position: relative;
}

.video-item__watch {
    text-align: center;
}

.video-item__status {
}

.video-item__rating {
    text-align: center;
}

td.video-item__status {
    padding: 0 1rem;
    text-align: center;
}
